---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"3210b9f5aaa88e243595111069cf5d5b"
      Last-Modified:
      - Tue, 30 Jan 2018 18:50:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxscores/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maxscores/subscriptions","organizations_url":"https://api.github.com/users/Maxscores/orgs","repos_url":"https://api.github.com/users/Maxscores/repos","events_url":"https://api.github.com/users/Maxscores/events{/privacy}","received_events_url":"https://api.github.com/users/Maxscores/received_events","type":"User","site_admin":false,"name":"Max
        Stackhouse","company":"@turingschool","blog":"https://medium.com/@maxstackhouse","location":"Colorado","email":"maxstackhouse@gmail.com","hireable":true,"bio":"@turingschool
        - Student(Backend Software Development)\r\n\r\n@ColoradoSchoolofMines - B.S.
        Metallurgical and Materials Engineering ","public_repos":28,"public_gists":18,"followers":5,"following":8,"created_at":"2017-07-06T03:55:31Z","updated_at":"2018-01-30T18:50:07Z"}'
  recorded_at: Thu, 01 Feb 2018 00:25:59 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/Maxscores/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"693370f59255f76033caa3e9d1c98cad"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":52239948,"name":"Pain-Caver","full_name":"stevepentler/Pain-Caver","owner":{"login":"stevepentler","id":13510375,"avatar_url":"https://avatars0.githubusercontent.com/u/13510375?v=4","gravatar_id":"","url":"https://api.github.com/users/stevepentler","html_url":"https://github.com/stevepentler","followers_url":"https://api.github.com/users/stevepentler/followers","following_url":"https://api.github.com/users/stevepentler/following{/other_user}","gists_url":"https://api.github.com/users/stevepentler/gists{/gist_id}","starred_url":"https://api.github.com/users/stevepentler/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevepentler/subscriptions","organizations_url":"https://api.github.com/users/stevepentler/orgs","repos_url":"https://api.github.com/users/stevepentler/repos","events_url":"https://api.github.com/users/stevepentler/events{/privacy}","received_events_url":"https://api.github.com/users/stevepentler/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/stevepentler/Pain-Caver","description":"Strava
        Workout Comparisons in Rails","fork":false,"url":"https://api.github.com/repos/stevepentler/Pain-Caver","forks_url":"https://api.github.com/repos/stevepentler/Pain-Caver/forks","keys_url":"https://api.github.com/repos/stevepentler/Pain-Caver/keys{/key_id}","collaborators_url":"https://api.github.com/repos/stevepentler/Pain-Caver/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/stevepentler/Pain-Caver/teams","hooks_url":"https://api.github.com/repos/stevepentler/Pain-Caver/hooks","issue_events_url":"https://api.github.com/repos/stevepentler/Pain-Caver/issues/events{/number}","events_url":"https://api.github.com/repos/stevepentler/Pain-Caver/events","assignees_url":"https://api.github.com/repos/stevepentler/Pain-Caver/assignees{/user}","branches_url":"https://api.github.com/repos/stevepentler/Pain-Caver/branches{/branch}","tags_url":"https://api.github.com/repos/stevepentler/Pain-Caver/tags","blobs_url":"https://api.github.com/repos/stevepentler/Pain-Caver/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/stevepentler/Pain-Caver/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/stevepentler/Pain-Caver/git/refs{/sha}","trees_url":"https://api.github.com/repos/stevepentler/Pain-Caver/git/trees{/sha}","statuses_url":"https://api.github.com/repos/stevepentler/Pain-Caver/statuses/{sha}","languages_url":"https://api.github.com/repos/stevepentler/Pain-Caver/languages","stargazers_url":"https://api.github.com/repos/stevepentler/Pain-Caver/stargazers","contributors_url":"https://api.github.com/repos/stevepentler/Pain-Caver/contributors","subscribers_url":"https://api.github.com/repos/stevepentler/Pain-Caver/subscribers","subscription_url":"https://api.github.com/repos/stevepentler/Pain-Caver/subscription","commits_url":"https://api.github.com/repos/stevepentler/Pain-Caver/commits{/sha}","git_commits_url":"https://api.github.com/repos/stevepentler/Pain-Caver/git/commits{/sha}","comments_url":"https://api.github.com/repos/stevepentler/Pain-Caver/comments{/number}","issue_comment_url":"https://api.github.com/repos/stevepentler/Pain-Caver/issues/comments{/number}","contents_url":"https://api.github.com/repos/stevepentler/Pain-Caver/contents/{+path}","compare_url":"https://api.github.com/repos/stevepentler/Pain-Caver/compare/{base}...{head}","merges_url":"https://api.github.com/repos/stevepentler/Pain-Caver/merges","archive_url":"https://api.github.com/repos/stevepentler/Pain-Caver/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/stevepentler/Pain-Caver/downloads","issues_url":"https://api.github.com/repos/stevepentler/Pain-Caver/issues{/number}","pulls_url":"https://api.github.com/repos/stevepentler/Pain-Caver/pulls{/number}","milestones_url":"https://api.github.com/repos/stevepentler/Pain-Caver/milestones{/number}","notifications_url":"https://api.github.com/repos/stevepentler/Pain-Caver/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/stevepentler/Pain-Caver/labels{/name}","releases_url":"https://api.github.com/repos/stevepentler/Pain-Caver/releases{/id}","deployments_url":"https://api.github.com/repos/stevepentler/Pain-Caver/deployments","created_at":"2016-02-22T02:05:15Z","updated_at":"2017-12-27T21:03:28Z","pushed_at":"2016-07-09T17:43:41Z","git_url":"git://github.com/stevepentler/Pain-Caver.git","ssh_url":"git@github.com:stevepentler/Pain-Caver.git","clone_url":"https://github.com/stevepentler/Pain-Caver.git","svn_url":"https://github.com/stevepentler/Pain-Caver","homepage":"https://paincaver-app.herokuapp.com/","size":10294,"stargazers_count":7,"watchers_count":7,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"open_issues_count":6,"license":null,"forks":1,"open_issues":6,"watchers":7,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":35051839,"name":"connectiq-apps","full_name":"garmin/connectiq-apps","owner":{"login":"garmin","id":8899972,"avatar_url":"https://avatars1.githubusercontent.com/u/8899972?v=4","gravatar_id":"","url":"https://api.github.com/users/garmin","html_url":"https://github.com/garmin","followers_url":"https://api.github.com/users/garmin/followers","following_url":"https://api.github.com/users/garmin/following{/other_user}","gists_url":"https://api.github.com/users/garmin/gists{/gist_id}","sta[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/users/Heybluguy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/Ecksi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/users/timomitchel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/NatBee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/[...]
- request:
    method: get
    uri: https://api.github.com/users/seoulstice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      [...]
