---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4856'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"3210b9f5aaa88e243595111069cf5d5b"
      Last-Modified:
      - Tue, 30 Jan 2018 18:50:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxscores/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maxscores/subscriptions","organizations_url":"https://api.github.com/users/Maxscores/orgs","repos_url":"https://api.github.com/users/Maxscores/repos","events_url":"https://api.github.com/users/Maxscores/events{/privacy}","received_events_url":"https://api.github.com/users/Maxscores/received_events","type":"User","site_admin":false,"name":"Max
        Stackhouse","company":"@turingschool","blog":"https://medium.com/@maxstackhouse","location":"Colorado","email":"maxstackhouse@gmail.com","hireable":true,"bio":"@turingschool
        - Student(Backend Software Development)\r\n\r\n@ColoradoSchoolofMines - B.S.
        Metallurgical and Materials Engineering ","public_repos":28,"public_gists":18,"followers":5,"following":8,"created_at":"2017-07-06T03:55:31Z","updated_at":"2018-01-30T18:50:07Z"}'
  recorded_at: Thu, 01 Feb 2018 00:42:41 GMT
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4855'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4854'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/[...]
- request:
    method: get
    uri: https://api.github.com/users/DryFlyRyan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4853'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/katyjane8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4852'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/etcetera8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4851'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/timomitchel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4850'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/marshallhouston
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4849'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/users/Ecksi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4848'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/users/freshouttheovenprogrammes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4847'
      X-Ratelimit-Reset:
      - '1517448234'
   [...]
[...]
