---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4872'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"3210b9f5aaa88e243595111069cf5d5b"
      Last-Modified:
      - Tue, 30 Jan 2018 18:50:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxscores/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maxscores/subscriptions","organizations_url":"https://api.github.com/users/Maxscores/orgs","repos_url":"https://api.github.com/users/Maxscores/repos","events_url":"https://api.github.com/users/Maxscores/events{/privacy}","received_events_url":"https://api.github.com/users/Maxscores/received_events","type":"User","site_admin":false,"name":"Max
        Stackhouse","company":"@turingschool","blog":"https://medium.com/@maxstackhouse","location":"Colorado","email":"maxstackhouse@gmail.com","hireable":true,"bio":"@turingschool
        - Student(Backend Software Development)\r\n\r\n@ColoradoSchoolofMines - B.S.
        Metallurgical and Materials Engineering ","public_repos":28,"public_gists":18,"followers":5,"following":8,"created_at":"2017-07-06T03:55:31Z","updated_at":"2018-01-30T18:50:07Z"}'
  recorded_at: Thu, 01 Feb 2018 00:42:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/Maxscores/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4871'
      X-Ratelimit-Reset:
      - '1517448234'
      Etag:
      - W/"f7ffd9d1bf3e353233a8e4565e684804"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":117027066,"name":"100-days-of-code","full_name":"Maxscores/100-days-of-code","owner":{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxscores/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Maxscores/subscriptions","organizations_url":"https://api.github.com/users/Maxscores/orgs","repos_url":"https://api.github.com/users/Maxscores/repos","events_url":"https://api.github.com/users/Maxscores/events{/privacy}","received_events_url":"https://api.github.com/users/Maxscores/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Maxscores/100-days-of-code","description":"Fork
        this template for the 100 days journal - to keep yourself accountable","fork":true,"url":"https://api.github.com/repos/Maxscores/100-days-of-code","forks_url":"https://api.github.com/repos/Maxscores/100-days-of-code/forks","keys_url":"https://api.github.com/repos/Maxscores/100-days-of-code/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Maxscores/100-days-of-code/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Maxscores/100-days-of-code/teams","hooks_url":"https://api.github.com/repos/Maxscores/100-days-of-code/hooks","issue_events_url":"https://api.github.com/repos/Maxscores/100-days-of-code/issues/events{/number}","events_url":"https://api.github.com/repos/Maxscores/100-days-of-code/events","assignees_url":"https://api.github.com/repos/Maxscores/100-days-of-code/assignees{/user}","branches_url":"https://api.github.com/repos/Maxscores/100-days-of-code/branches{/branch}","tags_url":"https://api.github.com/repos/Maxscores/100-days-of-code/tags","blobs_url":"https://api.github.com/repos/Maxscores/100-days-of-code/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Maxscores/100-days-of-code/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Maxscores/100-days-of-code/git/refs{/sha}","trees_url":"https://api.github.com/repos/Maxscores/100-days-of-code/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Maxscores/100-days-of-code/statuses/{sha}","languages_url":"https://api.github.com/repos/Maxscores/100-days-of-code/languages","stargazers_url":"https://api.github.com/repos/Maxscores/100-days-of-code/stargazers","contributors_url":"https://api.github.com/repos/Maxscores/100-days-of-code/contributors","subscribers_url":"https://api.github.com/repos/Maxscores/100-days-of-code/subscribers","subscription_url":"https://api.github.com/repos/Maxscores/100-days-of-code/subscription","commits_url":"https://api.github.com/repos/Maxscores/100-days-of-code/commits{/sha}","git_commits_url":"https://api.github.com/repos/Maxscores/100-days-of-code/git/commits{/sha}","comments_url":"https://api.github.com/repos/Maxscores/100-days-of-code/comments{/number}","issue_comment_url":"https://api.github.com/repos/Maxscores/100-days-of-code/issues/comments{/number}","contents_url":"https://api.github.com/repos/Maxscores/100-days-of-code/contents/{+path}","compare_url":"https://api.github.com/repos/Maxscores/100-days-of-code/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Maxscores/100-days-of-code/merges","archive_url":"https://api.github.com/repos/Maxscores/100-days-of-code/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Maxscores/100-days-of-code/downloads","issues_url":"https://api.github.com/repos/Maxscores/100-days-of-code/issues{/number}","pulls_url":"https://api.github.com/repos/Maxscores/100-days-of-code/pulls{/number}","milestones_url":"https://api.github.com/repos/Maxscores/100-days-of-code/milestones{/number}","notifications_url":"https://api.github.com/repos/Maxscores/100-days-of-code/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Maxscores/100-days-of-code/labels{/name}","releases_url":"https://api.github.com/repos/Maxscores/100-days-of-code/releases{/id}","deployments_url":"https://api.github.com/repos/Maxscores/100-days-of-code/deployments","created_at":"2018-01-11T00:11:55Z","updated_at":"2018-01-10T21:56:30Z","pushed_at":"2018-01-25T22:19:45Z","git_url":"git://github.com/Maxscores/100-days-of-code.git","ssh_url":"git@github.com:Maxscores/100-days-of-code.git","clone_url":"https://github.com/Maxscores/100-days-of-code.git","svn_url":"https://github.com/Maxscores/100-days-of-code","homepage":null,"size":35,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":119426710,"name":"apicurious","full_name":"Maxscores/apicurious","owner":{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists[...]
[...]
