---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"11772f8ea5927111be23248b7e75b263"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},{"login":"DryFlyRyan","id":13630604,"avatar_url":"https://avatars2.githubusercontent.com/u/13630604?v=4","gravatar_id":"","url":"https://api.github.com/users/DryFlyRyan","html_url":"https://github.com/DryFlyRyan","followers_url":"https://api.github.com/users/DryFlyRyan/followers","following_url":"https://api.github.com/users/DryFlyRyan/following{/other_user}","gists_url":"https://api.github.com/users/DryFlyRyan/gists{/gist_id}","starred_url":"https://api.github.com/users/DryFlyRyan/starre[...]
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"980d36d50916da0af281a000124a9577"
      Last-Modified:
      - Sat, 23 Dec 2017 22:43:46 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false,"name":"Josh
        Mejia","company":"Turing School of Software & Design","blog":"https://twitter.com/joshuamejia","location":"Denver,
        CO","email":"joshua.mejia@gmail.com","hireable":null,"bio":null,"public_repos":61,"public_gists":1,"followers":93,"following":44,"created_at":"2009-04-14T21:42:00Z","updated_at":"2017-12-23T22:43:46Z"}'
  recorded_at: Thu, 01 Feb 2018 17:51:42 GMT
- request:
    method: get
    uri: https://api.github.com/users/DryFlyRyan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/users/katyjane8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/etcetera8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/timomitchel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/marshallhouston
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/users/Ecksi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/users/freshouttheovenprogrammes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1517510031'
   [...]
