---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"9b83e1c908cb92a82ed2e7429bbab68e"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Heybluguy","id":26174903,"avatar_url":"https://avatars2.githubusercontent.com/u/26174903?v=4","gravatar_id":"","url":"https://api.github.com/users/Heybluguy","html_url":"https://github.com/Heybluguy","followers_url":"https://api.github.com/users/Heybluguy/followers","following_url":"https://api.github.com/users/Heybluguy/following{/other_user}","gists_url":"https://api.github.com/users/Heybluguy/gists{/gist_id}","starred_url":"https://api.github.com/users/Heybluguy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Heybluguy/subscriptions","organizations_url":"https://api.github.com/users/Heybluguy/orgs","repos_url":"https://api.github.com/users/Heybluguy/repos","events_url":"https://api.github.com/users/Heybluguy/events{/privacy}","received_events_url":"https://api.github.com/users/Heybluguy/received_events","type":"User","site_admin":false},{"login":"Ecksi","id":29013118,"avatar_url":"https://avatars2.githubusercontent.com/u/29013118?v=4","gravatar_id":"","url":"https://api.github.com/users/Ecksi","html_url":"https://github.com/Ecksi","followers_url":"https://api.github.com/users/Ecksi/followers","following_url":"https://api.github.com/users/Ecksi/following{/other_user}","gists_url":"https://api.github.com/users/Ecksi/gists{/gist_id}","starred_url":"https://api.github.com/users/Ecksi/starred{/owner}{/repo}","subscriptions_ur[...]
- request:
    method: get
    uri: https://api.github.com/users/Heybluguy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"d974679b270b07b0fdc66749ec065c35"
      Last-Modified:
      - Tue, 30 Jan 2018 01:43:35 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 01d9a32a2852ef9529d9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Heybluguy","id":26174903,"avatar_url":"https://avatars2.githubusercontent.com/u/26174903?v=4","gravatar_id":"","url":"https://api.github.com/users/Heybluguy","html_url":"https://github.com/Heybluguy","followers_url":"https://api.github.com/users/Heybluguy/followers","following_url":"https://api.github.com/users/Heybluguy/following{/other_user}","gists_url":"https://api.github.com/users/Heybluguy/gists{/gist_id}","starred_url":"https://api.github.com/users/Heybluguy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Heybluguy/subscriptions","organizations_url":"https://api.github.com/users/Heybluguy/orgs","repos_url":"https://api.github.com/users/Heybluguy/repos","events_url":"https://api.github.com/users/Heybluguy/events{/privacy}","received_events_url":"https://api.github.com/users/Heybluguy/received_events","type":"User","site_admin":false,"name":"Luis  Senior","company":null,"blog":"","location":"Denver,
        Co","email":"heybluguy@yahoo.com","hireable":null,"bio":null,"public_repos":63,"public_gists":5,"followers":5,"following":11,"created_at":"2017-03-03T22:16:01Z","updated_at":"2018-01-30T01:43:35Z"}'
  recorded_at: Thu, 01 Feb 2018 17:51:16 GMT
- request:
    method: get
    uri: https://api.github.com/users/Ecksi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/users/timomitchel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/NatBee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      - W/[...]
- request:
    method: get
    uri: https://api.github.com/users/seoulstice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<github_user_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1517510031'
      Etag:
      [...]
