.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 10px 20px 10px;
  color: $dark-grey;
  .profile-card {
    width: 230px;
    padding: 0 10px 0 10px;
    .profile-pic {
      height: 230px;
      width: 230px;
      border-radius: 7px;
    }
    .full-name {
      font-size: 26px;
      font-weight: 600;
      color: black;
    }
    .username {
      font-size: 20px;
      font-weight: 300;
      word-wrap: break-word;
    }
    .details {
      border-top: 1px $grey solid;
      padding-top: 10px;
      font-size: 14px;
      color: black;

      .company {
        font-weight: 600;
      }
      div {
        padding-top: 4px;
        vertical-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        .octicon {
          fill: $dark-grey;
          padding: 0 2px 0 0;
          width: 15px;
        }
      }
    }
  }
  .content {
    width: 770px;
    .section-tabs {
      display: flex;
      flex-direction: row;
      border-bottom: 1px $grey solid;
      .section-button {
        margin: 0 10px -1px 0;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        .button-text {
          font-size: 14px;
          color: $dark-grey;
          font-weight: 350;
          span {
            background-color: $lite-grey;
            border-radius: 20px;
            padding: 1px 5px 1px 5px;
          }
        }
      }
      .section-button:hover {
        cursor: pointer;
        border-bottom: 2px $grey solid;
      }
      .selected {
        .button-text {
          color: black;
          font-weight: 600;
        }
        border-bottom: 2px $orange-accent solid;
      }
      .selected:hover {
        border-bottom: 2px $orange-accent solid;
      }
    }
    .repos {
      .repo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 50px;
        padding: 30px 0 30px 0;
        border-bottom: 1px $grey solid;
        .repo-link {
          text-decoration: none;
          color: $blue-link;
          font-size: 20px;
          font-weight: 600;
        }
        .details {
          color: $dark-grey;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    .users {
      .user {
        padding: 30px 0 30px 0;
        display: flex;
        flex-direction: row;
        border-bottom: 1px $grey solid;
        .details {
          padding-left: 10px;
          .names {
            padding-bottom: 5px;
            .full-name {
              color: #25292E;
            }
          }
          .bio {
            padding-bottom: 5px;
            font-size: 12px;
          }
          .places {
            font-size: 12px;
            height: 15px;
            vertical-align: center;
            fill: $dark-grey;
            .octicon {
              fill: $dark-grey;
              height: 15px;
            }
          }
        }
        .small-image {
          height: 45px;
          width: 45px;
        }
      }
    }
  }
}
