nav {
  background-color: $primary-color;
  height: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-button {
  color: $lite-grey;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  .octicon {
    fill: $lite-grey;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Search {
  width: 300px;
  min-height: 30px;
  color: #fff;
  border-radius: 3px;
  border: 0px;
  background-color: rgba(255,255,255,0.125);
  padding: 0 10px 0 10px;
}
